<!-- wp:template-part {"slug":"header","theme":"fse-gamer","tagName":"header"} /-->

<!-- wp:pattern {"slug":"fse-gamer/header-banner"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"fse-gamer/trending-game-section"} /-->

	<!-- wp:pattern {"slug":"fse-gamer/services-section"} /-->
	
	<!-- wp:pattern {"slug":"fse-gamer/latest-blog"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fse-gamer","tagName":"footer"} /-->