<!-- wp:template-part {"slug":"main-header","theme":"quantum-computing","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"quantum-computing/default-header"} /-->

<!-- wp:group {"tagName":"main","style":{"color":{"background":"#696969"}},"layout":{"type":"default"}} -->
<main class="wp-block-group has-background" style="background-color:#696969"><!-- wp:heading {"textAlign":"center","className":"error-heading","style":{"typography":{"fontSize":"300px","fontStyle":"normal","fontWeight":"600"},"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<h2 class="wp-block-heading has-text-align-center error-heading" style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;font-size:300px;font-style:normal;font-weight:600">404</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"foreground","fontSize":"content-heading"} -->
<p class="has-text-align-center has-foreground-color has-text-color has-content-heading-font-size">Oops! That page cannot be found</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"70px"} -->
<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"quantum-computing","tagName":"footer"} /-->